OPENAI_API_KEY=[YOUR_OPENAI_API_KEY] # same as the next one
NEXT_PUBLIC_OPENAI_API_KEY=[YOUR_OPENAI_API_KEY] # same as the previous one
NEXT_PUBLIC_ASTRA_DB_KEYSPACE=[keyspace name]
NEXT_PUBLIC_ASTRA_DB_COLLECTION=[collection name]
NEXT_PUBLIC_ASTRA_DB_URL=[Datastrax ASTRA DB URL ]
NEXT_PUBLIC_ASTRA_DB_API_TOKEN=[Datastrax Application Token]